@font-face{
  font-family:Tiger;
  src:url(../font/HelveticaNeueLight.ttf);
  src:url(../font/HelveticaNeueBold.ttf);
  src:url(../font/HelveticaNeue-Medium.otf);

}
body{
  font-family:Tiger;
}

.main-content{

	margin-top: -70px!important;
	min-height: 500px;

	
	

}
body#bdContent{
	background: url("/images/backg.jpg");
	height: 100%; 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color:#fff;
  /*background-color: #154a90;*/
}
/* dashboard */
.widget-shadow .widget-content .counter-inverse .text-capitalize h4{
  color:#fff !important;
  font-weight: bold !important;
}
.LoginContent figure{
	text-align: center;	
}
.LoginContent figure img{
	height: 180px;
}
.logo_img{
	width:85px;
}
.btn_user_form_sub{
	text-align: center;
	margin-top: 15px;
}
.banner_logo{
	margin-top: -11px;
	border-bottom: 3px solid #f6933f;
}
.promo_ad h3{
	text-align: center;
	margin-top: 20px;
	border-bottom: 3px solid #f6933f;

}
.promo_ad img{
	text-align: center;
	max-height: 250px;
}
b.highlight {
    color: red;
    font-weight: bold;
}
.navbar-dark .navbar-nav .nav-link{
	color:#f6933f;
}
#gallery_page{
	margin-top: 50px;
}
main.container {
    margin-top: 45px;
}
.dropdown-menu.dropdown-menu-right.show {
    background: #111632;
}
.dropdown-menu.dropdown-menu-right.show a{
	color:#f6933f;
}
table tr td,table tr th{
	text-align: center;
}
.eventDetailContent dt{
	float: left;
}
.eventDetailContent dd{
	/*float: left;*/
}

.headText {
    overflow: hidden;
}
.LoginContent {
    width: 350px;
    margin: auto;
}
.LoginContent .form-group.row.input{
    border-bottom: 1px solid #4b71c4;
}
input:focus {
    outline:none;
    background: #103792;
}
.LoginContent .form-group.row input{
	border: none;
	background-color: #182a5647;
    color: #fff;
}
.LoginContent input:focus{
	outline: none;
    box-shadow: none;
    border: none;
}
.btn.btn-rounded{
	border-radius: 10em;
	padding-left: 1.5em;
    padding-right: 1.5em;
    color: #fff;
    font-weight: 600;
}
.btnSocialContent h5{
	font-size:14px; 
	margin-bottom: 15px;
}
html,body{
	min-height: 100% !important;
}
.row.headText p {
    width: 350px;
}
.form-group.row input[name="chk_accept"] {
    margin-top: 7px;
    /*margin-right: 5px;*/
}
.LoginContent i.fa.fa-facebook {
    font-size: 15px;
    margin-right: -5px;
}
.btnSocialContent>.btn-rounded {
    padding-left: 0.5em;
}
.locContent{
	background: #f8f8f8;
}
.locContent h5{
	font-size:22px;
}
.locContent dl{
	margin-bottom: 0px;
}
.eventDetailContent .col-md-5.locContent>h5, .eventDetailContent .col-md-5.locContent>p{
	text-align: center;
}
.row.evenHeadText h3 {
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #f8f8f8;
}
.row.evenHeadText p {
    width: 85%;
    margin: auto;
    font-size: 14px;
}
.row.evenHeadText {
    text-align: center;
}
table#playerListTable th{
	border-radius: 12px 12px 0px 0px;
	color:#fff;
}
th.txt_title {
    background: #f08801;
}
th.txt_date {
    background: #e1c212;
}
th.txt_action{
    background: #98af19;
}
a.act_view{
	color:#a1b637;
}
.row.evenHeadText p>b {
    font-size: 22px;
    color: #76bcdd;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
.match_title{
  text-align: center;
  margin-top: 15px !important;
}
table#playerListTable.table th{ 
	border:none;
}
td.serial {
    font-weight: 700;
    font-size: 18px;
}
.confrimContent{

	background: url("/images/bg_confirm.jpg");

	color:#fff;
}
.promText_container{
	padding:3.1em 2em;
	text-align: center;
	background: #00000045;
}  
.promText_container .textContent{
	margin-bottom: 20px;
}  
.promText_container .buttonContent button{
	margin-right: 15px;
	padding-left:2.5em;
	padding-right:2.5em;
  width: 50%;
  margin-top: 15px;
  color:#fff;
  font-weight: bold;
}
.buttonContent input{
  width: 25%;
  border: none;
  background-color: #90909000;
  border-bottom: 3px solid #ffffff;
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  height: auto;
}
.buttonContent input:focus{
  background-color: #90909000;
  color: #fff;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
.textContent h2>strong{
	font-weight: 600;
	font-size: 22px;
}
.textContent p.lead{
	font-weight: 500;
	font-size: 18px;
}
ul.imageContent li {
    text-decoration: none;
    list-style-type: none;
    float: left;
    overflow: hidden;
    border: 1px solid #e0e0e0;
    padding: 0px;
    margin-bottom: 15px;
}
ul.imageContent li .imageText{
	padding-top: 5px;
	word-break: break-word;
}
ul.imageContent{
	display: flex;
}
.gallery_show{
  border:4px solid #e0e0e0;
}
.gallery_show a{
  text-decoration: none;
}
.galleryImg {
  font-size: 0;
  text-align: center;
  width: 100%;  /* Container's dimensions */
  height: auto;
  margin:auto;
  margin-bottom: 15px;
}
.galleryImg img{
  max-height: 90%;
}
li.col-md-4.col-sm-6 div.galleryImg img {
  display: inline-block;
  vertical-align: middle;
  max-height: 100%;
  max-width: 100%;
}
.trick {
  display: inline-block;
  vertical-align: middle;
  height: 200px;
}
.imageText p{
	padding-bottom: 15px;
	color:#867a7a;	
}
.imageText h5{
	font-size: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #000;
    margin:15px  0px;
}
.col-md-4.galleryText h3{
	padding:10px;
}
.col-md-4.galleryText p{
	text-align: justify;
	width:100% !important;
}
.col-md-4.galleryText{
	border: 1px solid #e0e0e0;
	
}
.btn-tiger{
  background: #ed8b00;
  color:#fff;
}
.wheel-standard-spin-button{
  width: 85px;
    height: 45px;
}
.event_list{
  margin:10px 0px;
  
}
.event_listimg{
  margin:10px 0px;
  max-height: 600px;
}

@media (min-width: 1200px){
	.container {
   		max-width: 980px !important;
	}	
	.promText_container{
		padding:3.1em 2em;
	}
}

@media (min-width: 576px){
	.jumbotron {
    	padding: 3.3rem 2rem !important;
    	background: #f8f8f8;
	}
}
@media(max-width:720px){
	.logo_img{
		width:40px;
	}
  .footer_contact{
    text-align: center !important;
  }
   .float-right{
    float:center !important;
  }
  h3{
    font-size: 1rem !important;
  }
  .btn{
    font-size: 0.75rem !important;
  }
  .carousel-caption {
    padding-bottom: 10px !important;
  }
  .navbar-toggler-icon {
    display: inline-block;
    width: 1.0em;
    height: 1.0em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
  }
  .fb_footer img {
    width: 38px !important;
}
}
/*.eventDetailContent dd#location {
    max-width: 150px;
    overflow-x: auto;
    white-space: nowrap;
}*/
#homePage{
  background: #ecf0f1;

}
.team_reg .form-group.row input{
  border: none;
  border-bottom: 1px solid #fdfdfd;
  background-color: #12214442;
    color: #fff;
    border-radius: 0px;
}
.team_reg  a{
  color:#fff;
}
.match_show h3{
	text-align: center;
	text-decoration: underline;
	margin-top:20px;
}
footer.main_footer {
    background: #2c3e50;
    color: #fff;
    text-align: center;
}
footer.main_footer .copyRight {
    line-height: 50px;
    font-weight: 500;
    font-family: DIN Next LT Pro,Arial,sans-serif;
    /*color: hsla(0,0%,100%,.5);*/
    color:#fff;
}
.
.copyRight a{
  text-decoration: none;
  color:#fff;
  font-weight: bold;
}
.term_cond{
  line-height: 50px;
}
.term_cond a{
  text-decoration: none;
  color:#fff;
  font-size:12px;
}
.footer_contact {
    letter-spacing: .8px;
}
.footer_contact h5 {
    font-family: Comic Sans MS;
}
.footer_contact p {
    font-size: 18px;
    color: hsl(0, 55%, 44%);
    font-family: Bookman;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

.fb_footer img{
  width:48px !important;
}


.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  /*background: #3B5998;*/
    color: white;
    font-size: 25px;
    width: 45px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px;
}
@media(max-width:578px){
    .LoginContent{
      width:100%;
      margin:20px 0px auto;      
    }
    .form_login{
      width:100%;
    }
    .btnLogin{
      margin-right: 0px;
    }
    .LoginContent .headText,.chk_acc_content{
      margin:20px 0px auto;
    }
}
