/**** Reset Css ****/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**** //Reset Css ****/
/**** Global StyleSheet ****/
body {
  background-color: #337ab7;
  background-image: -webkit-linear-gradient(309deg, #337ab7 0%, #337ab7 51%, #2cb5e8 75%);
  background-image: -o-linear-gradient(309deg, #337ab7 0%, #337ab7 51%, #2cb5e8 75%);
  background-image: linear-gradient(141deg, #337ab7 0%, #337ab7 51%, #2cb5e8 75%);
  font-family: "Open Sans", sans-serif;
  font-weight: inherit;
  font-size: inherit;
  overflow: hidden; }

input:focus,
button:focus,
textarea:focus {
  outline: none; }

.hide {
  display: none; }

#drawing {
  text-align: center; }

#drawing svg {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
  max-width: 620px; }

@media only screen and (min-width: 600px) and (max-width: 767px) {
  #drawing svg {
    max-width: 330px; } }

.form-group input,
.form-group select {
  width: 80%;
  margin: 10px auto; }

.form-group h2 {
  background: #000;
  padding: 13px 5px;
  border-bottom: 1px solid #c4c4c4;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: bold; }

.btn-group {
  position: absolute;
  left: 10px;
  top: 12px; }

.btn-export {
  width: 120px; }

.btn-upload {
  margin: 13px 0 0 19px;
  display: inline-block;
  width: 135px; }

.fadeIn {
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  animation-duration: 0.25s;
  -webkit-animation-duration: 0.25s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  visibility: visible !important; }

@keyframes fadeIn {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0.0; }
  /* 60% {
        transform: scale(0.4);  
    }
    80% {
        transform: scale(0.8);
        opacity: 1; 
    }    */
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: scale(0);
    opacity: 0.0; }
  /* 60% {
        -webkit-transform: scale(0.4);
    }
    80% {
        -webkit-transform: scale(0.8);
        opacity: 1; 
    } */
  100% {
    -webkit-transform: scale(1);
    opacity: 1; } }

.bounce {
  display: inline-block;
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  -o-animation: bounce 2s infinite; }

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-10px); }
  60% {
    -webkit-transform: translateY(-5px); } }

@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0); }
  40% {
    -moz-transform: translateY(-10px); }
  60% {
    -moz-transform: translateY(-5px); } }

@-o-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -o-transform: translateY(0); }
  40% {
    -o-transform: translateY(-10px); }
  60% {
    -o-transform: translateY(-5px); } }

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); }
  60% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px); } }

.context {
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999; }

.context .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  background: #fff;
  padding: 0.5em;
  border-radius: 5px; }

.context .overlay p {
  color: #000;
  font-size: 14px; }

.context .overlay img.hand {
  width: 125px;
  height: auto;
  margin-left: 42px; }

.sp-container.sp-flat {
  z-index: 1; }

.quick-star-video {
  width: 80vw;
  height: 70vh; }

.burger-menu {
  position: absolute;
  top: 8px;
  right: 5px;
  background: rgba(0, 0, 0, 0.3);
  padding: 10px 15px 8px 8px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 10px;
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2);
  min-height: 30px;
  z-index: 9999; }

.burger-menu .counter {
  position: absolute;
  background: rgba(201, 48, 44, 0.9);
  border-radius: 50%;
  padding: 5px;
  font-size: 10px;
  font-weight: bold;
  color: #fff;
  bottom: -8px;
  left: 0;
  min-width: 10px;
  text-align: center; }

.burger-menu span {
  -webkit-transition: all 0.4s cubic-bezier(0.5, 10, 0.6, 0.1);
  display: block;
  -webkit-box-shadow: 1px 1px 4px #fff;
  -o-transition: all 0.4s cubic-bezier(0.5, 10, 0.6, 0.1);
  transition: all 0.4s cubic-bezier(0.5, 10, 0.6, 0.1);
  box-shadow: 1px 1px 4px #fff;
  cursor: pointer; }

.burger-menu .active {
  background: #FFF;
  width: 20px;
  height: 3px;
  margin-top: 4px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0; }

.burger-menu .cross {
  background: #FFF;
  width: 20px;
  height: 3px;
  margin-top: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0; }

.burger-menu .cross:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.burger-menu .cross:nth-of-type(2) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-top: -3px; }

.reward-list {
  visibility: visible;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  visibility: hidden;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

.reward-list.show {
  visibility: visible;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

.reward-list .items::-webkit-scrollbar {
  width: 5px; }

.reward-list .items::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

.reward-list .items::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  margin-top: 10px;
  border-radius: 10px; }

.reward-list .items {
  background: url(../img/reward_bg.jpg) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 500px;
  height: 70vh;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 8px;
  overflow: auto;
  padding: 2rem;
  opacity: 0.9; }

.reward-list .items .item {
  width: 100%;
  float: left;
  padding: 1em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0.25em 0;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.3); }

.reward-list .value {
  font-size: 50px;
  line-height: 65px;
  color: #fff;
  float: left; }

.reward-list .btn-redeem,
.popup-container .btn {
  float: right;
  width: 120px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 5px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background-image: -webkit-gradient(linear, left top, right top, from(#f5ce62), color-stop(#e43603), color-stop(#fa7199), to(#e85a19));
  background-image: -webkit-linear-gradient(left, #f5ce62, #e43603, #fa7199, #e85a19);
  background-image: -o-linear-gradient(left, #f5ce62, #e43603, #fa7199, #e85a19);
  background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
  -webkit-box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
  text-transform: uppercase; }

.reward-list .btn-redeem:hover,
.popup-container .btn:hover {
  background-position: 100% 0;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out; }

.reward-list .btn-redeem:focus,
.popup-container .btn:focus {
  outline: none; }

.reward-list .btn-redeem.disabled {
  background-image: -webkit-gradient(linear, left top, right top, from(#29323c), color-stop(#485563), color-stop(#2b5876), to(#4e4376));
  background-image: -webkit-linear-gradient(left, #29323c, #485563, #2b5876, #4e4376);
  background-image: -o-linear-gradient(left, #29323c, #485563, #2b5876, #4e4376);
  background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
  -webkit-box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75); }

.reward-list .btn-redeem.disabled:hover,
.reward-list .btn-redeem.disabled:focus {
  background-position: 0 0; }

#daily-lucky .number-coin strong {
  font-weight: bold;
  font-size: 24px; }

#daily-lucky .btn {
  float: none; }

.success-popup .img-popup {
  margin-top: -20vw;
  max-width: 500px;
  width: 35vw; }

.success-popup .footer-popup {
  padding: 0.5rem 0;
  background-color: #11b672;
  color: #ffffff;
  border-radius: 0.625rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.success-popup .footer-popup i {
  font-size: 1.125rem;
  padding-left: 1.25rem;
  padding-right: 0.625rem; }

.success-popup .pad-wapper {
  padding: 0 20px; }

.success-popup .information {
  font-size: 1.125rem;
  color: #ef8318;
  text-transform: uppercase;
  font-family: 'AvenirNext-Demi';
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.success-popup .des-popup {
  margin-bottom: 1.875rem;
  margin-top: 0.625rem; }

.popup-overlay {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  opacity: .8;
  background: #2d2d32;
  filter: alpha(opacity=80); }

.popup-container {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center; }

.popup-inner {
  position: relative;
  z-index: 10000;
  top: 50%;
  width: 80%;
  height: auto;
  min-height: 300px;
  border-radius: 0.625rem;
  margin: 0 auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.5); }

.footer-popup {
  text-align: center; }

.c {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 99;
  width: 100%;
  height: 100%; }

.custom-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  width: 100%;
  height: 100%; }
  .custom-overlay .box {
    position: absolute;
    top: 30%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    width: 50%;
    text-align: center;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s; }
    .custom-overlay .box.active {
      top: 50%;
      opacity: 1;
      -webkit-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s; }
    .custom-overlay .box input {
      width: 100%;
      height: 7.6vw;
      margin-bottom: 3.66032vw;
      border: 1px solid #C4C4C4;
      border-radius: 8px;
      -webkit-box-shadow: -1px 3px 19px 10px rgba(254, 254, 254, 0.8);
      box-shadow: -1px 3px 19px 10px rgba(254, 254, 254, 0.8);
      font-size: 2.92969vw;
      padding-left: 3.66032vw; }
    .custom-overlay .box button {
      position: absolute;
      top: 0;
      right: -4vw;
      height: 7.6vw;
      width: auto;
      -webkit-transform: initial;
      -ms-transform: initial;
      transform: initial;
      border-radius: 5px;
      font-size: 16px;
      font-weight: 600;
      color: #fff;
      cursor: pointer;
      text-align: center;
      border: none;
      background-size: 300% 100%;
      -webkit-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
      background-image: -webkit-gradient(linear, left top, right top, from(#f5ce62), color-stop(#e43603), color-stop(#fa7199), to(#e85a19));
      background-image: -webkit-linear-gradient(left, #f5ce62, #e43603, #fa7199, #e85a19);
      background-image: -o-linear-gradient(left, #f5ce62, #e43603, #fa7199, #e85a19);
      background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
      -webkit-box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
      box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75); }
      .custom-overlay .box button:hover {
        background-position: 100% 0;
        -moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out; }
      .custom-overlay .box button span {
        font-size: 3.125vw;
        position: relative;
        display: block;
        width: 100%;
        font-weight: bold;
        text-transform: capitalize;
        outline: none; }

@media only screen and (max-width: 600px) {
  .reward-list .items {
    width: 90%; }
  .success-popup .img-popup {
    width: 50vw; }
  .success-popup .information {
    top: 50%; }
  .custom-overlay .box input {
    height: 10vw; }
  .custom-overlay .box button {
    height: 10vw; } }

/**** //Global StyleSheet ****/
