<template>
    <form role="form" >
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
              <label  class="control-label">Company ( 公司 ):</label>
              <input type="text" class="form-control" :value="company.name" readonly="readonly" > 
              <input type="hidden" class="form-control" :value="approveLeadId" > 
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group" >
              <label for="servicetype" class="control-label">Services Type ( 服务 ): </label>
              <multiselect v-model="approve.servicetype" deselect-label="Can't remove this value" track-by="id" label="name" @input="onChange" placeholder="Select Services Type" :options="getservicetype" :searchable="true" :allow-empty="true" >
              </multiselect>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group" id="getservices" >
              <label for="services" class="control-label">Services ( 服务 ): </label>
              <multiselect v-model="approve.services" id="services" deselect-label="Can't remove this value"  track-by="id" label="name" placeholder="Select Services" :options="getservice" :searchable="true" :allow-empty="true" :multiple="true" >
              </multiselect>
          </div>
        </div>
        
        <div class="col-md-2">
          <div class="form-group" :class="{'has-error' : errors.assigned_to}" >
              <label for="assigned_to" class="control-label">Assigned To ( 分配给 ): </label>
              <multiselect v-if="company.lead_assign_type == 'manual'" v-model="approve.assigned_to" deselect-label="Can't remove this value" track-by="id" label="name" placeholder="Select User" :options="company.users" :searchable="true" :allow-empty="true" :multiple="false">
                </multiselect>
                <span class="help-block" v-if="errors.assigned_to">{{ errors.assigned_to[0] }}</span>
               <input v-if="company.lead_assign_type != 'manual'" type="text" class="form-control" :value="company.lead_assign_type" readonly="readonly" > 
          </div>
        </div>
        
        <div class="col-md-2">
            <div class="form-group" >
                <label  class="control-label"> </label>
                <button type="button" class="btn btn-success form-control" @click="approveSubmit" :disabled="loading">
                  <i class="fa fa-spinner fa-spin" v-if="loading"></i>
                  <i class="icon zmdi zmdi-rotate-cw" v-else></i>&nbsp;Approve ( 批准 )
                </button>
            </div>
        </div>
      </div>
    </form>
</template>

<script>
  export default {
      name: 'approve',
      data () {
        return {
          id: null,
          loading: false,
          forceApprove: false,
          errors: '',
          url: window.baseUrl + '/lead/leads/convert/opportunity',
          approve: {},
          getservicetype:[],
          getservice:[],

        }
      },
      props: {
        approveLeadId: {
          type: Number,
          default: 0
        },
        company: {
          type: Object,
          default: () => {}
        },
        servicetypes: {
          type: Object,
          default: () => {}
        },
        services: {
          type: Array,
          default: () => {}
        },
      },
      methods: {
        buildObj() {
          this.approve = {
            lead_id: '',
            company_id: this.company.id,
            assign_type: this.company.lead_assign_type,
            services: this.services,
            assigned_to: '',
            includeContacts: false,
            servicetype:this.servicetypes,
          };
        },
        approveSubmit () {
        
          this.loading = true
           let data = {
              force_approve: this.forceApprove,
              company_id: this.approve.company_id,
              assign_type: this.approve.assign_type,
              services: this.approve.services,
              servicetype_id:this.approve.servicetype.id,
              assigned_to: this.assignedUserId,
              lead_id: this.approveLeadId,
              includeContacts: this.approve.includeContacts
           };
          axios.post(this.url,data).then((response) => {
            this.loading = false
            if (response.data.status === 'success') {
                this.notify(response.data.msg);
                this.buildObj();
                this.forceApprove = false;
            } else {
              if(response.data.status === 'already'){
                  swal({
                  title: "Are you sure?",
                  text: response.data.msg,
                  icon: "warning",
                  buttons: true,
                  buttons: ["Cancel", "Approve Again"],
                  dangerMode: true,
                  }).then((willApprove) => {
                    if (willApprove) {
                      this.forceApprove = true;
                      this.approveSubmit();
                    }
                  })
              }
              this.errors = response.data
            }
          })
        },
        notify (message, type = 'success') {
          swal({
            text: message,
            icon: type,
            buttons: false,
            timer: 1500
          })
        },
        onChange()
        {
          axios.post(window.baseUrl + '/lead/leads/getservice', {
                servicetype_id: this.approve.servicetype.id
              })
              .then(response => {

                this.approve.services = response.data;
                
              });
        }
      },
      computed: {
       
        assignedUserId: function() {
           if(this.approve.assigned_to){
            return this.approve.assigned_to.id;
           }
           return null;
        }
      },
      watch:{
        
      },
      mounted () {
        this.id = this._uid;
        this.buildObj();
        
      }
  }
</script>
