<template>
  <div>
    <div class="modal fade" tabindex="-1" ref="modal" role="dialog" aria-labelledby="confirmModelLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" @click="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="confirmModalLabel">Confirmation</h4>
          </div>
          <div class="modal-body">
            <span>{{ msg }}</span>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" @click="close()" data-dismiss="modal">No</button>
            <button type="button" class="btn btn-primary" @click="confirmed()" data-dismiss="modal">Yes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'delete-modal',

    props: ['open', 'message'],

    watch: {
      open (val) {
        if (val) $(this.$refs.modal).modal('show')
      }
    },

    methods: {
      close () {
        this.$emit('close')
      },

      confirmed() {
        this.$emit('confirmed')
      }
    },

    computed: {
      msg () {
        if (this.message) return this.message

        return 'Are you sure to delete this record?'
      }
    }
  }
</script>

<style>
</style>
