<template>
  <div>
    <input class="form-control" ref="picker" :value="value" :placeholder="label">
  </div>
</template>

<script>
  export default {
    props: ['dateFormat', 'label', 'value', 'minViewMode'],

    methods: {
      changed (value) {
        this.$emit('input', value)
      }
    },

    mounted () {
      $(this.$refs.picker).datepicker({
        format: this.dateFormat,
        minViewMode: this.minViewMode,
        todayHighlight: true,
        autoclose: true,
      }).on('changeDate', (e) => {
        this.changed(e.currentTarget.value)
      })
    },

    beforeDestroy () {
      $(this.$refs.picker).datepicker('hide').datepicker('destroy');
    }
  }
</script>
