<template>
  <div>
    <div class="modal fade modal-rotate-from-to" id="modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" @click="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{{ title }}</h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal">
              <div class="row">
                <div class="col-sm-12">
                  
                  <div class="form-group margin-bottom-10" v-for="(value, key) in data" :key="key">
                    <label class="control-label col-sm-3">{{ value.title + ' :' }}</label>
                    <div class="col-md-4">
                      <template v-if="value.value.length == 0">
                        <select class="form-control" @change="optChange(key, $event)" v-if="value.type === 'string'">
                          <option value="">-- Please Select --</option>
                          <option value="equal">Equal</option>
                          <option value="like">Like</option>
                        </select>
                        <select class="form-control" @change="optChange(key, $event)" v-if="value.type === 'integer'">
                          <option value="">-- Please Select --</option>
                          <option value="equal">Equal</option>
                          <option value="grt">Greater than</option>
                          <option value="lrt">Less than</option>
                        </select>
                      </template>
                      <template v-else>
                        <select class="form-control" disabled>
                          <option value="equal" selected>Equal</option>
                        </select>
                      </template>
                    </div>
                    <div class="col-md-5">
                      <template v-if="value.value.length == 0">
                        <input type="text" class="form-control" placeholder="Some String" @change="valChange(key, $event)" v-if="value.type === 'string'">
                        <input type="number" class="form-control" placeholder="Some Number" @change="valChange(key, $event)" v-if="value.type === 'integer'">
                      </template>
                      <template v-else>
                        <select class="form-control" @change="valChange(key, $event)">
                          <option>-- Please Select --</option>
                          <option :value="unit" v-for="(unit, index) in value.value" :key="index">{{ unit }}</option>
                        </select>
                      </template>  
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default waves-effect waves-light" @click="close" data-dismiss="modal">Close</button>
            <button type="button" @click="search" class="btn btn-primary">
              <i class="fa fa-search ico-btn"></i>&nbsp;Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'search-form',

    props: ['open', 'title', 'data'],

    watch: {
      open (val) {
        if (val) $('#modal').modal('show')
      }
    },

    data () {
      return {
        filters: []
      }
    },

    methods: {
      close () {
        this.$emit('close')
      },

      search () {
        $('#modal').modal('hide')
        this.$emit('search')
      },

      optChange (key, event) {
        this.data[key].opt = event.target.value
      },

      valChange (key, event) {
        this.data[key].by = event.target.value
      }
    },

    mounted () {
      for (var key in this.data)
      {
        this.data[key].opt = 'equal'
      }
    }
  }
</script>

<style scoped>

</style>