<template>
  <div>
    <input class="form-control" ref="picker" :value="value" :placeholder="label">
  </div>
</template>

<script>
  export default {
    props: ['timeFormat', 'label', 'value'],

    methods: {
      changed (value) {
        this.$emit('input', value)
      }
    },

    mounted () {
      $(this.$refs.picker).timepicker({
        timeFormat: this.timeFormat
      }).on('changeTime', (e) => {
        this.changed(e.currentTarget.value)
      })
    },

    beforeDestroy () {
      $(this.$refs.picker).timepicker('hide').timepicker('remove');
    }
  }
</script>